packaging
wheel
setuptools 
mem0ai
transformers>=4.51.0
torch>=2.0.0 
accelerate
bitsandbytes
flash-attn
chromadb
sentence-transformers
unsloth
datasets
trl
psutil
numpy<2
huggingface_hub
matplotlib>=3.5.0
seaborn>=0.11.0
mistral-common
huggingface_hub
peft>=0.8.0
GPUtil
tensorboard

